<li>
	<iframe id="vimeoembed" src="http://player.vimeo.com/video/<%= inspiration.vimeo_id %>?title=0&amp;byline=0&amp;portrait=0&amp;color=b8d432" width="461" height="259" frameborder="0"></iframe>
</li>