<p class="goal">
	read the <%= link_to " Wild Thing Manifesto", manifesto_path %> and join 
	<span><%= "%07d" %  (@pledge_count.to_i) %></span> 
	people re-connecting with nature
</p>

<div class="panels">

	<section id="pledge" class="panel">
	
		<% unless session[:pledged] %>
	
			<h2><span>Get involved</span> Take the Wild Thing Pledge</h2>

			<%= render "pledges/form" %>			
	
		<% else %>
	
			<p class="cta"><a href="https://twitter.com/intent/tweet?&amp;via=wearewildthing&amp;url=http%3A%2F%2Fwww.projectwildthing.com&amp;text=I have pledged to spend as much time outdoors as I do looking at screens, take the pledge with me:">Tweet your Pledge</a></p>
			<!-- http://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.projectwildthing.com&amp;text=I have pledged to spend as much time outdoors as I do looking at screens, take the pledge with me -->
		
		<% end %>
	
	</section>

	<section id="why" class="panel">

		<h2><span>The nature film</span> Inspirations from the wild</h2>	
	
		<% unless @inspiration.nil? %>
		<iframe src="http://player.vimeo.com/video/<%= @inspiration.vimeo_id %>" width="400" height="250" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		<% end %>
				
	</section>
</div>