<div class="panels">

	<section id="manifesto" class="panel">
		<p class="goal"><span><%= "%04d" %  (@pledge_count.to_i) %></span> people have pledged</p>
		<p class="pledge">I promise to spend as much of my <span class="tip" title="Not including time spent at work!">time</span> outdoors as I do looking at screens, and, by my advice and example, encourage others to do the same</p>
		<p class="cta"><%= link_to "Read the Manifesto", manifesto_path %></p>
	</section>

	<section id="pledge" class="panel">
		<div class="sharing">		
			<h2>Spread the word</h2>
			<p class="cta"><a href="https://twitter.com/intent/tweet?&amp;via=wearewildthing&amp;url=http%3A%2F%2Fwww.projectwildthing.com&amp;text=I have pledged to spend as much time outdoors as I do looking at screens, take the pledge with me:">Tweet your Pledge</a></p>
			<p class="cta"><a href="http://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.projectwildthing.com&amp;text=I have pledged to spend as much of my free time outdoors as I do looking at screens, take the pledge with me">Share on Facebook</a></p>
		</div>
	</section>

</div>