<h1>Welcome to the Movement</h1>
<p>You are the <%= @pledge_count.ordinalize %> person to take the pledge. Encourage others to do the same <a href="https://twitter.com/intent/tweet?&amp;via=wearewildthing&amp;url=http%3A%2F%2Fwww.projectwildthing.com&amp;text=I have pledged to spend as much time outdoors as I do looking at screens, take the pledge with me:">with a Tweet</a> or <%= link_to "get inspired", "#{root_path}" %> and get outdoors!</p>
