<h1>The Wild Thing Founding Partners</h1>

<% if @partners.any? %>
	<ul class="grid_list">
		<% @partners.each do |partner| %>
			<% unless partner.image.nil? %>
			<li><%= link_to (image_tag partner.image.grid, :alt => partner.name), partner.url %></li>
			<% end %>
		<% end %>
	</ul>
<% end %>