<section class="footnotes">
	
	<h2>Background information</h2>
	
	<ol>
		<li id="cite_1">The Lancet: "More people die globally from inactivity than from smoking." <cite><a href="http://www.thelancet.com/series/physical-activity">Source</a></cite></li>
		<li id="cite_2">In England, prescribing of ADHD drugs to under-16s went up by 33% between 2005 and 2007. Anti-depressant drugs may also increase the risk of obesity in children. Encouraging more children with ADHD to take up active play and sport in safe, green spaces could beat natural and effective alternative to medication, improving other health and wellbeing outcomes. <cite><a href="http://www.fph.org.uk/uploads/r_great_outdoors.pdf">Source</a>, <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2242642/">Source</a></cite</li>
		<li id="cite_3">Mental health problems have not only a human and social cost, but also an economic one, with wider costs in England amounting to £105.2 billion a year. Mental illness is the single largest cost to the National Health Service (NHS) at £10.4 billion (10.8% of the NHS budget). In 2007, service costs in England, which include the NHS, social and informal care, amounted to £22.5 billion and these costs are projected to in- crease by 45%, to £32.6 billion by 2026. <cite><a href="http://www.rcpsych.ac.uk/pdf/Position%20Statement%204%20website.pdf">Source</a></cite></li>
		<li id="cite_4">Even a walk in a park can have the same level of benefits as medication. 'Natural' environments in urban settings can increase the likelihood of physical activity and play. Children who play in green spaces also develop better motor skills than those who don't. <cite><a href="http://www.fph.org.uk/uploads/r_great_outdoors.pdf">Source</a></cite></li>
		<li id="cite_6">UNICEF: "In the UK, we are raising the unhappiest kids in the developed world" <ctie><a href="http://www.unicef-irc.org/publications/pdf/rc7_eng.pdf">Source</a></cite></li>
		<li id="cite_7">Childhood happiness is closely linked to time spent outdoors. <a href="http://www.unicef.org.uk/Latest/News/Research-shows-UK-children-caught-in-materialistic-trap">Source</a></cite></li>
		<li id="cite_8">The roaming radius for kids has declined by 90 per cent in thirty years. <cite>Gaster, S. 'Urban Children's Access to Their Neighbourhoods: Changes Over Three Generations', quoted in Louv, R. (2005) Last Child in the Woods, p.123</cite></li>
		<li id="cite_9">CHILDWISE estimate that children aged 5&ndash;16 spend 2.5 hours watching television every day, 1.6 hours on computers and the internet, 1.3 hours gaming and 1.1 hours on a mobile phone. <cite><a href="http://www.childwise.co.uk/">Source</a></ctie></li>
	</ol>

</section>