<section class="panel">
	<h1>Back the movement</h1>
	<p>Show your support.</p>
	<p>[blurb]</p>
</section>

<section class="panel">

	<h2>Founding Partners</h2>

	<p>Made possible by some folks.</p>

	<ul class="grid_list">
		<li><a href="http://greenlions.com/">Green Lions</a></li>
		<li><a href="http://www.dolectures.com">Do Lectures</a></li>
		<li><a href="http://www.tyf.com/">TYF</a></li>
		<li><a href="http://www.edenproject.com/">Eden Project</a></li>
		<li><a href="https://twitter.com/_alkennedy">Al Kennedy</a></li>
		<li><a href="http://www.nationaltrust.org.uk/">National Trust</a></li>
		<li><a href="http://www.goodfornothing.com">Good for Nothing</a></li>
	</ul>

</section>