<h1>The Nature Film</h1>

<iframe id="vimeoembed" src="http://player.vimeo.com/video/44097760?title=0&amp;byline=0&amp;portrait=0&amp;color=b8d432" width="960" height="539" frameborder="0"></iframe>

<p>Project Wild Thing is the core part of a feature documentary of the same name, made in collaboration with the Channel 4 Britdoc Foundation, Good For Nothing, the National Trust, the RSPB, and the NHS.</p>
<p>According to UNICEF, children in the UK are the unhappiest kids in the western world. Plenty of food, millions of TV channels, the internet, Wii, no wars to worry about &ndash; when there’s so much to be happy about, what’s going on? Shiny screens in every room, increased parental fears of dirt and the unknown and the elimination of free public space are all converging to create a generation that has no connection with nature. So what can we do to get parents and kids out into the woods?</p>
<p>Filmmaker DAVID BOND thinks Mother Nature needs a helping hand getting his kids to forget the distractions of the modern world and wake up to the benefits of nature. He appoints himself the Marketing Director for Nature and, with the help of advertising and marketing experts, he sets out to persuade apathetic consumers, and his family, of the benefits of this amazing, free, wonder-product. </p>

<% if @inspirations.any? %>
<section class="full_panel">
	<ul class="grid grid_film">
		<% @inspirations.each do |inspiration| %>
			<%= render :partial => "inspirations/block", :locals => { :inspiration => inspiration } %>
		<% end %>
	</ul>
</section>
<% end %>
