<section id="projects">
		
	<% if @projects.any? %>
	<ul>
		<% @projects.each do |project| %>
		<li>
			<h2><%= link_to project.title, project.url %></h2>
			<p><%= project.description %></p>
			<% unless project.image.url.nil? %>
				<%= link_to image_tag(project.image), project.url %>
			<% end %>
		</li>
		<% end %>
	</ul>
	<% end %>
	
</section>

<section id="manifesto">

	<h2>Wild Thing Manifesto</h2>
	<h3>It is time to reconnect with nature</h3>
	
	<p>For 2 million years the idea of being separate from nature did not even occur to humans. We were nature, and nature was us. But recently we’ve turned our backs on nature. Thanks to technology and the comforts it has provided we are now the safest, fattest and most indoor human beings ever.  And it is getting worse every day.</p>
	<p>We cannot resist life indoors, but the cost is indisputable. We’re slower, more depressed and less in control of our emotions than ever before.  We miss nature, and nature misses us too.</p>
	<p>Contact with nature keeps us fitter, reduces stress, boosts our immune system and gives us a better perspective on problems.  We could do with more of that right now.</p>
	<p>If you are with us, you will be part of a movement to change the way we live.  Let’s get children outside.  Let’s get them into nature.</p>

	<% unless session[:pledged] %>
	<p class="cta"><%= link_to "Take the Pledge", pledge_path %></p>
	<% end %>

</section>



