<div class="heading">
	<h1>It's time to reconnect with nature</h1>
	<h2>The Wild Thing Manifesto</h2>
</div>

<section class="full_panel">
	
	[background information]
	
	<p>For 2 million years the idea of being separate from nature did not even occur to humans. We were nature, and nature was us. But recently we’ve turned our backs on nature. Thanks to technology and the comforts it has provided we are now the safest, fattest and most indoor human beings ever. And it is getting worse every day.</p>
	<p class="pull">Children today are getting dangerously tame.</p> 
	<p>We need your help to change that and make them wild. In the UK we are raising the unhappiest children in the developed world. We give them plenty of food, millions of TV channels, the Internet and computer games. What is going on? What are they unhappy about?</p>
	<p class="pull">THE LURE OF THE INDOORS IS CREATING A GENERATION THAT HAS NO CONNECTION WITH NATURE</p>
	<p>Stepping outside and connecting with nature is both a small step out of your door, and a wild leap into a new way of life. Children in the UK (aged 5 – 16) spend 2.5 hours every day watching TV and 1.7 hours every day online.</p>
	<p class="pull">THAT IS OVER 4 HOURS SCREEN TIME PER DAY</p>
	<p>Given the chance, children love being outdoors &ndash; contact with nature is fun, free and keeps them fit. For us it reduces stress, boosts our immune systems and gives us a better perspective on problems. We could do with more of that right now.</p>
	<p>If we don't act, a generation of children will miss out on developing a proper connection with nature that will last for their whole life. As a species we will lose vital natural knowledge. We need children to be future custodians of the natural world.</p>
	<p>The Wild Thing Pledge is your promise to spend as much time outside every day as you do on screens. Match your screen time with wild time. And encourage your children to do the same.</p>
	
	<p class="cta"><%= link_to "Take the Pledge", root_path %></p>
	<%#= image_tag "manifesto.gif", :alt => "The Wild Thing Manifesto" %>
		
</section>
