<li>
	<h3>
	<% if project.body.blank? %>
		<%= link_to project.title.html_safe, project_path(project) %>
	<% else %>
		<%= link_to project.title.html_safe, project.url %>
	<% end %>
	</h3>
	<%= markdown.render(project.description).html_safe %>
</li>