<section>
	<h1>Projects</h1>
	
	<p>[grid or something]</p>
	
	<% if @projects.any? %>
	<ul class="grid_list">
		<% @projects.each do |project| %>
		<li>
			<% unless project.image.url.nil? %>
				<%= image_tag project.image.thumbnail %>
			<% end %>
			<h3><%= link_to project.title, project_path(project) %></h3>
		</li>
		<% end %>
	</ul>
	<% end %>
	
</section>