<div class="intro_panel">
	<h1>Projects</h1>
	<p>Projects are ways you can start getting connected with nature today.</p>
</div>
	
<% if @projects.any? %>
<ul class="grid_list">
	<% @projects.each do |project| %>
	<li>
		<h3><%= link_to project.title, project_path(project) %></h3>
		
		<% unless project.image.url.nil? %>
			<%= link_to (image_tag project.image.thumbnail), project_path(project) %>
		<% end %>
	</li>
	<% end %>
	<li style="border: 1px solid #576027; width: 280px; padding: 10px; min-height: 180px;">
		<p>Your project here? <a href="/concepts/">Pick a concept</a>, bring it to life then <a href="mailto:projects@projectwildthing.com">let us know</a> when it's up and running.</p>
	</li>
</ul>
<% end %>