<% unless post.image.url.nil? %>
	<%= image_tag post.image.thumbnail %>
<% end %>
<h2><%= link_to post.title, post_path(post) %></h2>
<time><%= post.created_at.to_s(:article) %></time>
<%= post.abstract %>