/* =form */
 
  form { 
    padding-bottom: 10px; 
  }
  
  form fieldset {
    padding: 0 0 30px;
  }

	legend {
		font-size: 16px;
		padding-bottom: 16px;
		color: #E31937;
	}
  
/* =label */
 
  label { 
    display: block; 
    position: relative; 
  }
  
/* =input */

  .string input, .email input { 
    padding: 10px; 
    margin-bottom: 1em; 
    font-size: 1em;
		font-family: ParisBlack;
    border: 1px solid #cccccc;
		letter-spacing: 1px;
  }
 
 /* =checkbox */
 
  .checkbox label {
    margin-bottom: 0.75em;
  }

 /* =submit */

	input[type="submit"] {
		color: #ffffff;
		display: block;
		width: 220px;
		margin: 0 auto;
		font-size: 14px;
		text-align: center;
		padding: 10px 0 17px;
		cursor: pointer;
		text-indent: -15px;
		font-weight: normal;
		background: url(button.png) no-repeat;
		border: none;
		font-family: Courier;
	}

 /* =textarea */

  textarea { 
    font-size: 1em; 
    padding: 5px; 
    margin-bottom: 1em; 
    border: 1px solid #cccccc;
  }

/* Tables */

	table { margin-bottom: 14px; }
